/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  /* Font Family */
  --primaryFont: "Poppins", serif;
  --secondaryFont: "Yeseva One", serif;
  --footerPrimary: "Lobster", serif;
  --footerSecondary: "Manrope", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--primaryFont);
}
/* Shared Style */
.description {
  color: rgb(62, 62, 62);
  font-size: 0.8rem;
  font-weight: 400;
  margin: 10px 0 14px 0;
}
.btn-primary {
  padding: 10px;
  border-radius: 4px;
  background: rgb(255, 89, 89);
  color: rgb(255, 255, 255);
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.btn-primary:hover {
  transform: scale(1.05);
}
section {
  margin-top: 80px;
}
/* Header */
.header {
  max-width: 940px;
  margin: 0 auto;
  padding-right: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  max-width: 480px;
  display: grid;
  gap: 1rem;
}
.hero-image-container {
  max-width: 400px;
}
.hero-image-container img {
  width: 100%;
}
.hero-title {
  font-family: var(--secondaryFont);
  font-size: 2.5rem;
  font-weight: 400;
  padding-left: 0.8rem;
}
.title-container {
  display: flex;
}
.title-style {
  height: 80px;
  width: 4px;
  background: rgb(255, 89, 89);
  margin-top: 5px;
}
.hero-title .orange {
  color: rgb(255, 173, 90);
}
.explore-more {
  color: rgb(67, 67, 67);
  font-size: 0.7rem;
  font-weight: 400;
}
/* Header End */

/* Mission */
.mission {
  max-width: 940px;
  margin: 0 auto;
}
.mission-title {
  color: rgb(19, 16, 58);
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}
.mission-title span {
  color: rgb(255, 173, 90);
}
.card-container {
  display: flex;
  gap: 1rem;
}
.card-container .card {
  flex-basis: 32%;
  border-radius: 1.2rem;
  padding: 18px 10px 20px 25px;
}
.card-container .card img {
  width: 110px;
  margin-left: -10px;
  margin-bottom: -10px;
}
.card-1 {
  background: rgba(79, 157, 166, 0.1);
}
.card-2 {
  background: rgba(255, 89, 89, 0.1);
}
.card-3 {
  background: rgb(255, 244, 214);
}
.card-title {
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;
}
.mission .description {
  color: rgb(66, 66, 66);
  font-size: 0.7rem;
  font-weight: 400;
}
/* Mission End */

/* Documentation */
.documentation {
  max-width: 1100px;
  margin: 80px auto;
  background-image: url(./images/shapes/shape-1.png);
  background-position: left center;
  background-size: 180px 180px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.documentation .image-container {
  padding-left: 80px;
}
.documentation img {
  width: 360px;
}
.documentation .content {
  max-width: 580px;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.documentation .document-title {
  color: rgb(51, 51, 51);
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 44px;
}
/* Second Documentation */
.second-doc {
  max-width: 1100px;
  margin: 80px auto;
  background-image: url(./images/shapes/shape-1.png);
  background-position: bottom -20px right 20px;
  background-size: 170px 170px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-doc .image-container {
  padding-right: 80px;
  max-width: 380px;
  margin: 0 30px 30px 0;
}
.second-doc img {
  width: 330px;
}
.second-doc .content {
  max-width: 580px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.second-doc .document-title {
  color: rgb(51, 51, 51);
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 44px;
}
/* Document Section End */
.application {
  max-width: 940px;
  margin: 0 auto;
  padding: 4.14rem 0 4.14rem 5.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.application .image-container {
  width: 284px;
  background-image: url(./images/shapes/shape-3.png),
    url(./images/shapes/shape-3.png), url(./images/shapes/shape-3.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100px 100px, 65px 65px, 65px 65px;
  background-position: 25px 25px, bottom 30px left 48px, bottom 110px right 20px;
  padding: 47px 32px 23px 60px;
}
.application .image-container img {
  width: 192px;
  height: 385px;
}
.application .content {
  max-width: 440px;
}
.application .title {
  font-size: 2.5rem;
  font-weight: 700;
}
.application .title span {
  color: rgb(255, 173, 90);
}
/* Application End */

/* Footer */
footer {
  background: rgb(11, 13, 23);
  padding: 2rem 0;
  display: grid;
  place-items: center;
}
footer .title {
  font-family: var(--footerPrimary);
  font-size: 1.89rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 0.7rem;
}
footer .title span{
  color: rgb(255, 89, 89);
}
footer p {
  color: rgb(217, 219, 225);
  font-family: var(--footerSecondary);
  font-size: 0.7rem;
  font-weight: 400;
}
/* Responsive */
@media screen and (max-width: 576px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }
  .title-style {
    display: none;
  }
  .card-container,
  .documentation,
  .second-doc,
  .application {
    flex-direction: column;
    padding: 0 20px;
  }
  .documentation,
  .second-doc,
  .application {
    align-items: center;
    justify-content: center;
  }
  .documentation img,
  .second-doc img {
    width: 100%;
  }
  .application {
    text-align: center;
  }
}
/* For Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}
